
@{
	ViewBag.Title = "NotFound";
}

<div style=" padding:20px; color:red">
	<h2>
		Error Page:
	</h2>
	<h4>
		Sorry, The Page you are Looking for is not found.
	</h4>
	<h6>@Html.ActionLink("Go Back To Login Page", "Login", "Login")</h6>
</div>
